GraphLab-Create==1.2.1
Jinja2==2.7.3
MarkupSafe==0.23
Scrapy==0.24.4
Twisted==14.0.2
argparse==1.2.1
awscli==1.6.2
backports.ssl-match-hostname==3.4.0.2
bcdoc==0.12.2
beautifulsoup4==4.3.2
boto==2.33.0
botocore==0.73.0
cffi==0.8.6
colorama==0.2.5
cryptography==0.7.2
cssselect==0.9.1
decorator==3.4.0
distribute==0.6.24
docutils==0.12
enum34==1.0.4
ipython==2.3.1
jmespath==0.5.0
librato-metrics==0.4.9
lxml==3.4.1
mixpanel-py==3.1.1
prettytable==0.7.2
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
python-dateutil==2.4.0
pyzmq==14.5.0
queuelib==1.2.2
requests==2.3.0
rsa==3.1.2
six==1.9.0
tornado==3.2.1
w3lib==1.11.0
wsgiref==0.1.2
yolk==0.4.3
zope.interface==4.1.2
